---
import { Image } from "astro:assets";
---
<section mt-10>
   <div class="md:(grid grid-cols-3 bg-third pt-15)">
      <div col-start-3 >
         <div class="relative translate-y-6">
            <Image class="h-100" src="/about-us.png" width={600} height={600} alt="about us"/>
            <div class="absolute inset-0 bg-[#1E2631D6] text-center p-8 md:(-translate-x-full bg-[#1E2631D6]/[1] px-10 py-12)">
               <h3 uppercase font-eb text-third text-3xl font-semibold italic>About us</h3>
               <p text-white text-sm pt-3>CASABELLA NAILS & SPA is committed to delivering the highest level of customer satisfaction through the use of premium products and state-of-the-art tools. Our team of skilled professionals is dedicated to creating stunning, long-lasting nails and providing rejuvenating spa treatments that align with your personal preferences. We prioritize the well-being of our clients, and take pride in our ability to elevate their spirits and enhance their natural beauty. CASABELLA NAILS & SPA is the ideal destination for those who value self-care and seek to indulge in a truly luxurious experience.</p>
            </div>
         </div>
        </div>
   </div>
</section>