---
import { supabase } from "@/supabase";
const { data:service } = await supabase
  .from('service').select("*").eq("position", 6).single();

const { data:items } = await supabase
.from('service').select("*").eq("parent_id", service?.id || "");

---
<div class="wrapper" section-style>
   <h5 service-name>{service?.name}</h5>
   <div text-center mb-5 set:html={service?.description}></div>
   <div grid grid-cols-1  md:(grid-cols-2) gap-x-5 gap-y-3>
     {items?.map(item=>(
       <div flex justify-between items-center gap-x-1 font-semibold text-primary>
         <span>{item.name}</span>
         <div flex-1 h-1 border-b-1/>
         <span>{item.price}</span>
      </div>
     ))}
      <!-- <div class="flex flex-col gap-3 my-3 md:(w-1/2)">
         <div flex justify-between items-center gap-x-1 font-semibold text-primary>
            <span>BASIC GEL PEDICURE</span>
            <div flex-1 h-1 border-b-1/>
            <span>$50</span>
         </div>
         <div flex justify-between items-center gap-x-1 font-semibold text-primary>
            <span class="w-fit">GEL WITH BELLA PEDICURE
            </span>
            <div class="flex-1" h-1 border-b-1/>
            <span class="w-fit">$60</span>
         </div>
         <div flex justify-between items-center gap-x-1 font-semibold text-primary>
            <span class="w-fit">GEL WITH VOLCANO PEDICURE
            </span>
            <div class="flex-1" h-1 border-b-1/>
            <span class="w-fit">$75</span>
         </div>
      </div>
      <div class="flex flex-col gap-3 my-3 md:(w-1/2)">
         <div flex justify-between items-center gap-x-1 font-semibold text-primary>
            <span class="w-fit">GEL WITH COLLAGEN SPA PEDICURE
            </span>
            <div class="flex-1" h-1 border-b-1/>
            <span class="w-fit">$75</span>
         </div>
         <div flex justify-between items-center gap-x-1 font-semibold text-primary>
            <span class="w-fit">GEL WITH CASABELLA PEDICURE
            </span>
            <div class="flex-1" h-1 border-b-1/>
            <span class="w-fit">$85</span>
         </div>
         <div flex justify-between items-center gap-x-1 font-semibold text-primary>
            <span class="w-fit">GEL WITH DREAM DAY SPA PEDICURE
            </span>
            <div class="flex-1" h-1 border-b-1/>
            <span class="w-fit">$95</span>
         </div>
      </div> -->
   </div>
</div>