---
import { Image } from 'astro:assets';
---

<section class="bg-[url('/bg-service.png')] mt-20">
   <h3 title-section>Services</h3>
   <!-- Nail Enhancements -->
   <div>
      <h5 service-name>Nail Enhancements</h5>
   <div class="wrapper section-style">
      <div flex flex-col items-center gap-x-10 md:(flex-row items-start) >
         <!-- left -->
            <div  class="md:(flex-shrink-0 w-1/2)">
               <h3 uppercase text-secondary font-semibold italic my-5 text-center>Acrylic</h3>
               <!-- box -->
               <div w-full border-2 border-black text-sm mb-5>
                  <!-- thead -->
                  <div grid grid-cols-4 gap-x-12 font-semibold bg-primary>
                     <div col-start-3 text-white py-1>Full Set</div>
                     <div  text-white py-1>Fill In</div>
                  </div>
                  <!-- 1 -->
                  <div grid grid-cols-4 gap-x-12 font-semibold bg-zinc-200>
                     <div col-start-1 col-end-3 text-white py-1 text-start><span text-gray-900>Acrylic With Gel Color</span></div>
                     <div text-white py-1 text-start><span text-gray-900>$50</span></div>
                     <div text-white py-1 text-start><span text-gray-900>$40</span></div>
                  </div>
                  <!-- 2 -->
                  <div grid grid-cols-4 gap-x-12 font-semibold>
                     <div col-start-1 col-end-3 text-white py-1 text-start><span text-gray-900>Acrylic With Gel Color</span></div>
                     <div text-white py-1 text-start><span text-gray-900>$50</span></div>
                     <div text-white py-1 text-start><span text-gray-900>$40</span></div>
                  </div>
                  <!-- 3 -->
                  <div grid grid-cols-4 gap-x-12 font-semibold bg-zinc-200>
                     <div col-start-1 col-end-3 text-white py-1 text-start><span text-gray-900>Acrylic With Gel Color</span></div>
                     <div text-white py-1 text-start><span text-gray-900>$50</span></div>
                     <div text-white py-1 text-start><span text-gray-900>$40</span></div>
                  </div>
                  <!-- 4 -->
                  <div grid grid-cols-4 gap-x-12 font-semibold>
                     <div col-start-1 col-end-3 text-white py-1 text-start><span text-gray-900>Acrylic With Gel Color</span></div>
                     <div text-white py-1 text-start><span text-gray-900>$50</span></div>
                     <div text-white py-1 text-start><span text-gray-900>$40</span></div>
                  </div>
            </div>
            <Image src="/sns.jpeg" width={600} height={200} alt="SNS"/>
            </div>
            <!-- right -->
            <div text-sm font-medium>
               <h3 uppercase text-secondary font-semibold italic my-5 text-center>SNS Dipping</h3>
               <!-- box -->
               <p text-sm>Our high-end Dipping Powder not only produces exceptional beauty but also results in healthy nails. The product is unique in multiple ways:</p>
               <ul>
                  <li>Natural looking </li>
                  <li>No damage to nail bed</li>
                  <li>Lightweight & flexible</li>
                  <li>Non-toxic & odor-free</li>
                  <li>Strong & durable<li>
                  <li>Crack & chip-resistant</li>
                  <li>Calcium & vitamin E fortified</li>
               </ul>
               <!--  -->
               <ul my-5 flex flex-col gap-y-2>
                  <li flex justify-between items-center gap-x-1 font-semibold text-primary>
                     <span class="w-fit">SNS Dip Color with Tip</span>
                     <div class="flex-1" h-1 border-b-1/>
                     <span class="w-fit">$50/ $60</span>
                  </li>
                  <li flex justify-between items-center gap-x-1 font-semibold text-primary>
                     <span class="w-fit">SNS Dip French With Tip
                     </span>
                     <div class="flex-1" h-1 border-b-1/>
                     <span class="w-fit">$60/ $70</span>
                  </li>
                  <li flex justify-between items-center gap-x-1 font-semibold text-primary>
                     <span class="w-fit">SNS Ombre With Tip</span>
                     <div class="flex-1" h-1 border-b-1/>
                     <span class="w-fit">$65/ $75</span>
                  </li>
                  <li flex justify-between items-center gap-x-1 font-semibold text-primary>
                     <span class="w-fit">Gel X</span>
                     <div class="flex-1" h-1 border-b-1/>
                     <span class="w-fit">$60+</span>
                  </li>
                  <p text-sm>Gel-X nails are flexible, lightweight, and natural-looking, especially when compared to acrylics. NO liquid smell. QUICK to apply. Additionally, they are extremely easy to shape.</p>
                  <li flex justify-between items-center gap-x-1 font-semibold text-primary>
                     <span class="w-fit">T.A.P Gel</span>
                     <div class="flex-1" h-1 border-b-1/>
                     <span class="w-fit">$60+</span>
                  </li>
                  <p text-sm>T.A.P Gel is a complete Nail Enhancement System that builds strength and foundation for anyone looking for more lightweight and natural-looking nails.</p>
               </ul>
            </div>
      </div>
   </div>
   </div>
   <!-- Manicure -->
   <div class="wrapper" section-style>
      <h5 service-name>Manicure</h5>
      <!-- 1 -->
      <div flex-service-item>
            <Image src="/manicure-01.jpg" alt="" width={100} height={100} class="rounded-full"/>
         <div flex-1>
            <div flex justify-between items-center gap-x-1 font-semibold text-primary>
               <span class="w-fit">BASIC MANICURE</span>
               <div class="flex-1" h-1 border-b-1/>
               <span class="ml-auto">$30</span>
            </div>
            <p text-sm>The Basic Manicure comes with nail trimming and shaping, cuticle grooming, hot towel wrap, lotion massage, and the application of polish.</p>
         </div>
      </div>
      <!-- 2 -->
      <div flex-service-item>
         <Image src="/manicure-02.jpg" alt="" width={100} height={100} class="rounded-full"/>
         <div flex-1>
            <div flex justify-between items-center gap-x-1 font-semibold text-primary>
               <span class="w-fit">PARAFFIN MANICURE</span>
               <div class="flex-1" h-1 border-b-1/>
               <span class="w-fit">$40</span>
            </div>
            <p text-sm>
               Do you want extra care for your hands? Beside all steps of Basic Manicure, we add paraffin wax to moisturize the dry skin, relax muscles, reduce stiffness in joints.
            </p>
         </div>
      </div>
          <!-- 3 -->
      <div flex-service-item>
         <Image src="/manicure-03.jpeg" alt="" width={100} height={100} class="rounded-full"/>
         <div flex-1>
            <div flex justify-between items-center gap-x-1 font-semibold text-primary>
               <span class="w-fit">SPA MANICURE</span>
               <div class="flex-1" h-1 border-b-1/>
               <span class="w-fit">$50</span>
            </div>
            <p text-sm>
               Get your hands treated like royalty! We start with cuticle care, followed by an exfoliating sea salt scrub on hands to remove dead skin cells, leaving skin feeling young, soft, and hydrated. Then, an essential oil massage with hot stone will relax and restore the vitality of your skin.
            </p>
         </div>
      </div>
         <!-- 4 -->
      <div flex-service-item>
         <Image src="/manicure-04.jpeg" alt="" width={100} height={100} class="rounded-full"/>
         <div flex-1>
            <div flex justify-between items-center gap-x-1 font-semibold text-primary>
               <span class="w-fit">GEL MANICURE COLOR/ FRENCH</span>
               <div class="flex-1" h-1 border-b-1/>
               <span class="w-fit">$40/ $50</span>
            </div>
            <p text-sm>
               Your hands receive all the steps of Basic Manicure including nail trimming, shaping, cuticle grooming, and hand massage before the application of gel polish. The gel polish dries instantly and feels virtually weightless on your hands and lasts much longer than regular nail polish (up to at least 2 weeks).
            </p>
         </div>
      </div>
   </div>
     <!-- Spa Pedicure -->
   <div class="wrapper" section-style>
      <h5 service-name>Spa Pedicure</h5>
      <!-- 1 -->
      <div flex-service-item>
            <Image src="/pedi-01.png" alt="" width={100} height={100} class="rounded-full"/>
         <div flex-1>
            <div flex justify-between items-center gap-x-1 font-semibold text-primary>
               <span class="w-fit">BASIC PEDICURE</span>
               <div class="flex-1" h-1 border-b-1/>
               <span class="w-fit">$40</span>
            </div>
            <p text-sm>
               The Basic Pedicure comes with nail trimming and shaping, cuticle grooming, intensive callus treatment, exfoliating scrub, followed by a relaxing foot massage with hydrating lotion, hot towel wrap, and the application of polish.
            </p>
         </div>
      </div>
      <!-- 2 -->
      <div flex-service-item>
         <Image src="/pedi-02.jpeg" alt="" width={100} height={100} class="rounded-full"/>
         <div flex-1>
            <div flex justify-between items-center gap-x-1 font-semibold text-primary>
               <span class="w-fit">BELLA PEDICURE</span>
               <div class="flex-1" h-1 border-b-1/>
               <span class="w-fit">$50</span>
            </div>
            <p text-sm>
               Enjoy our warm foot paraffin for conditions such as arthritis. This pedicure comes with simple pampering, and you can let the warmth soothe away aches and pains while the paraffin moisturizes dry feet.
            </p>
         </div>
      </div>
          <!-- 3 -->
      <div flex-service-item>
         <Image src="/pedi-03.png" alt="" width={100} height={100} class="rounded-full"/>
         <div flex-1>
            <div flex justify-between items-center gap-x-1 font-semibold text-primary>
               <span class="w-fit">VOLCANO SPA PEDICURE</span>
               <div class="flex-1" h-1 border-b-1/>
               <span class="w-fit">$65</span>
            </div>
            <p text-sm>
               Replenish and revitalize your feet with our premium, luxurious Volcano Spa Pedicure that is designed to stimulate all your senses with beautiful, high-quality ingredients, providing an unforgettable experience. During our detox pedicure, Detox Volcano Crystals and Activator combine to create an invigorating and detoxifying soak with an enjoyable bubble explosion that moisturizes and softens your skin. This is followed by an exfoliating sugar scrub to clean the toenails. Complete the pedicure treatment with paraffin wax, collagen cream mask and collagen massage lotion made with organic based ingredients to purify and hydrate the skin.
            </p>
         </div>
      </div>
         <!-- 4 -->
      <div flex-service-item>
         <Image src="/pedi-04.png" alt="" width={100} height={100} class="rounded-full"/>
         <div flex-1>
            <div flex justify-between items-center gap-x-1 font-semibold text-primary>
               <span class="w-fit">COLLAGEN SPA PEDICURE</span>
               <div class="flex-1" h-1 border-b-1/>
               <span class="w-fit">$65</span>
            </div>
            <p text-sm>
               Treat your feet to the secret to an unforgettable spa-like experience that helps renew aging skin while detoxifying and soothing tired feet. Collagen Crystals are applied to detoxify and soothe the skin before Collagen Cane Scrub boosts the vibrancy of skin. Then, a Collagen Cream Mask helps to maintain skin's youthful beauty and Collagen Muscle Relaxing Gel refreshes and relaxes muscles. Next, Collagen Massage Lotion leaves skin silky and smooth. Complete with Collagen Serums Lotion & Paraffin Wax that maintain the skin's softness.
            </p>
         </div>
      </div>
      <!-- 5 -->
      <div flex-service-item>
      <Image src="/pedi-05.jpeg" alt="" width={100} height={100} class="rounded-full"/>
      <div flex-1>
         <div flex justify-between items-center gap-x-1 font-semibold text-primary>
            <span class="w-fit">CASABELLA SPA PEDICURE</span>
            <div class="flex-1" h-1 border-b-1/>
            <span class="w-fit">$75</span>
         </div>
         <p text-sm>
            Need a getaway? Let this exclusive pedicure transport you to the paradise islands! Its ingredients are all naturally sourced and sure to stimulate your senses. Fresh Orange & sugar scrub will gently exfoliate the surface impurities and dead skin cells from your legs and feet before a mask & hot towel wrap restore the skin's natural hydration and deeply nourishes the skin. Fall deeper into relaxation as a hot oil & hot stone massage heals, conditions, and regenerates the skin, leaving it smooth and hydrated.
         </p>
      </div>
      </div>
          <!-- 5 -->
          <div flex-service-item>
            <Image src="/pedi-05.jpeg" alt="" width={100} height={100} class="rounded-full"/>
            <div flex-1>
               <div flex justify-between items-center gap-x-1 font-semibold text-primary>
                  <span class="w-fit">DREAM DAY PEDICURE *MUST TRY*</span>
                  <div class="flex-1" h-1 border-b-1/>
                  <span class="w-fit">$85</span>
               </div>
               <p text-sm>
                  Indulge yourself with our premium pedicure that is best for promoting the growth of new cells for fresh and healthy-looking skin. Start with grooming your nails and cuticles and gently exfoliate the surface impurities and dead skin cells from your legs and feet with Sugar Scrub. After all the exfoliation, your skin is hydrated with hot towel wrap and your feet are soothed with hot oil. For your ultimate experience, Sole Solution Foot Treatment features crushed allspice berry - traditionally used by the indigenous people of Central America to relieve persistent dry, cracked, red skin on heels, toes, and sides of feet, leaving your skin feeling silky.
               </p>
            </div>
            </div>
   </div>
   <!-- Gel Pedicure -->
   <div class="wrapper" section-style>
      <h5 service-name>Gel Pedicure</h5>
      <p text-center>Beautiful colors that enhance and last, gel polish is an easy-to-remove polish with long-lasting technology.</p>
      <div flex-service-item-stretch>
         <div class="flex flex-col gap-3 my-3 md:(w-1/2)">
            <div flex justify-between items-center gap-x-1 font-semibold text-primary>
               <span>BASIC GEL PEDICURE</span>
               <div flex-1 h-1 border-b-1/>
               <span>$50</span>
            </div>
            <div flex justify-between items-center gap-x-1 font-semibold text-primary>
               <span class="w-fit">GEL WITH BELLA PEDICURE
               </span>
               <div class="flex-1" h-1 border-b-1/>
               <span class="w-fit">$60</span>
            </div>
            <div flex justify-between items-center gap-x-1 font-semibold text-primary>
               <span class="w-fit">GEL WITH VOLCANO PEDICURE
               </span>
               <div class="flex-1" h-1 border-b-1/>
               <span class="w-fit">$75</span>
            </div>
         </div>
         <div class="flex flex-col gap-3 my-3 md:(w-1/2)">
            <div flex justify-between items-center gap-x-1 font-semibold text-primary>
               <span class="w-fit">GEL WITH COLLAGEN SPA PEDICURE
               </span>
               <div class="flex-1" h-1 border-b-1/>
               <span class="w-fit">$75</span>
            </div>
            <div flex justify-between items-center gap-x-1 font-semibold text-primary>
               <span class="w-fit">GEL WITH CASABELLA PEDICURE
               </span>
               <div class="flex-1" h-1 border-b-1/>
               <span class="w-fit">$85</span>
            </div>
            <div flex justify-between items-center gap-x-1 font-semibold text-primary>
               <span class="w-fit">GEL WITH DREAM DAY SPA PEDICURE
               </span>
               <div class="flex-1" h-1 border-b-1/>
               <span class="w-fit">$95</span>
            </div>
         </div>
      </div>
   </div>
      <!-- Kid's Service -->
   <div class="wrapper" section-style>
      <h5 service-name>Kid's Service</h5>
      <p text-center>
         (For children who are under 10 years of age)
      </p>
      <div flex-service-item-stretch>
         <div class="flex flex-col gap-3 my-3 md:(w-1/2)">
            <div flex justify-between items-center gap-x-1 font-semibold text-primary>
               <span>Manicure Color/ French
               </span>
               <div flex-1 h-1 border-b-1/>
               <span>$20/ $30</span>
            </div>
            <div flex justify-between items-center gap-x-1 font-semibold text-primary>
               <span class="w-fit">Polish Change On Hands/ Feet</span>
               <div class="flex-1" h-1 border-b-1/>
               <span class="w-fit">$15/ $20</span>
            </div>
            <div flex justify-between items-center gap-x-1 font-semibold text-primary>
               <span class="w-fit">Pedicure</span>
               <div class="flex-1" h-1 border-b-1/>
               <span class="w-fit">$30</span>
            </div>
         </div>
         <div class="flex flex-col gap-3 my-3 md:(w-1/2)">
            <div flex justify-between items-center gap-x-1 font-semibold text-primary>
               <span class="w-fit">Gel Manicure
               </span>
               <div class="flex-1" h-1 border-b-1/>
               <span class="w-fit">$30</span>
            </div>
            <div flex justify-between items-center gap-x-1 font-semibold text-primary>
               <span class="w-fit">Gel Pedicure
               </span>
               <div class="flex-1" h-1 border-b-1/>
               <span class="w-fit">$40</span>
            </div>
         </div>
      </div>
   </div>
   <!-- Waxing -->
   <div class="wrapper" section-style>
      <h5 service-name>Waxing
      </h5>
      <div flex-service-item-stretch>
         <div class="flex flex-col gap-3 my-3 md:(w-1/2)">
            <div flex justify-between items-center gap-x-1 font-semibold text-primary>
               <span>Eyebrows</span>
               <div flex-1 h-1 border-b-1/>
               <span>$15
               </span>
            </div>
            <div flex justify-between items-center gap-x-1 font-semibold text-primary>
               <span class="w-fit">Upper Lip
               </span>
               <div class="flex-1" h-1 border-b-1/>
               <span class="w-fit">$12
               </span>
            </div>
            <div flex justify-between items-center gap-x-1 font-semibold text-primary>
               <span class="w-fit">Chin</span>
               <div class="flex-1" h-1 border-b-1/>
               <span class="w-fit">$12</span>
            </div>
            <div flex justify-between items-center gap-x-1 font-semibold text-primary>
               <span>Full Face
               </span>
               <div flex-1 h-1 border-b-1/>
               <span>$45
               </span>
            </div>
            <div flex justify-between items-center gap-x-1 font-semibold text-primary>
               <span class="w-fit">Sideburns</span>
               <div class="flex-1" h-1 border-b-1/>
               <span class="w-fit">$20
               </span>
            </div>
            <div flex justify-between items-center gap-x-1 font-semibold text-primary>
               <span class="w-fit">Full Arms
               </span>
               <div class="flex-1" h-1 border-b-1/>
               <span class="w-fit">$40+
               </span>
            </div>
            <div flex justify-between items-center gap-x-1 font-semibold text-primary>
               <span class="w-fit">Underarms</span>
               <div class="flex-1" h-1 border-b-1/>
               <span class="w-fit">$20</span>
            </div>
         </div>
         <div class="flex flex-col gap-3 my-3 md:(w-1/2)">
            <div flex justify-between items-center gap-x-1 font-semibold text-primary>
               <span>Half Arms
               </span>
               <div flex-1 h-1 border-b-1/>
               <span>$30
               </span>
            </div>
            <div flex justify-between items-center gap-x-1 font-semibold text-primary>
               <span class="w-fit">Half Legs
               </span>
               <div class="flex-1" h-1 border-b-1/>
               <span class="w-fit">$40+
               </span>
            </div>
            <div flex justify-between items-center gap-x-1 font-semibold text-primary>
               <span class="w-fit">Full Legs</span>
               <div class="flex-1" h-1 border-b-1/>
               <span class="w-fit">$60+
               </span>
            </div>
            <div flex justify-between items-center gap-x-1 font-semibold text-primary>
               <span>Bikini Line
               </span>
               <div flex-1 h-1 border-b-1/>
               <span>$50+
               </span>
            </div>
            <div flex justify-between items-center gap-x-1 font-semibold text-primary>
               <span class="w-fit">Brazilian</span>
               <div class="flex-1" h-1 border-b-1/>
               <span class="w-fit">$80+
               </span>
            </div>
            <div flex justify-between items-center gap-x-1 font-semibold text-primary>
               <span class="w-fit">Back
               </span>
               <div class="flex-1" h-1 border-b-1/>
               <span class="w-fit">$50+
               </span>
            </div>
            <div flex justify-between items-center gap-x-1 font-semibold text-primary>
               <span class="w-fit">Chest</span>
               <div class="flex-1" h-1 border-b-1/>
               <span class="w-fit">$30+
               </span>
            </div>
         </div>
      </div>
   </div>
   <!-- Additional Services -->
   <div class="wrapper" section-style>
      <h5 service-name>Additional Services</h5>
      <div flex-service-item-stretch>
         <div class="flex flex-col gap-3 my-3 md:(w-1/2)">
            <div flex justify-between items-center gap-x-1 font-semibold text-primary>
               <span>Polish Change On Hands/Feet
               </span>
               <div flex-1 h-1 border-b-1/>
               <span>$15/ $20
               </span>
            </div>
            <div flex justify-between items-center gap-x-1 font-semibold text-primary>
               <span class="w-fit">French Polish Change On Hands/Feet
               </span>
               <div class="flex-1" h-1 border-b-1/>
               <span class="w-fit">$25/ $30
               </span>
            </div>
            <div flex justify-between items-center gap-x-1 font-semibold text-primary>
               <span class="w-fit">Gel Color Change On Hands/Feet
               </span>
               <div class="flex-1" h-1 border-b-1/>
               <span class="w-fit">$25/ $30
               </span>
            </div>
            <div flex justify-between items-center gap-x-1 font-semibold text-primary>
               <span class="w-fit">Gel French Change On Hands/Feet
               </span>
               <div class="flex-1" h-1 border-b-1/>
               <span class="w-fit">$35/ $40
               </span>
            </div>
            <div flex justify-between items-center gap-x-1 font-semibold text-primary>
               <span class="w-fit">French Tips (With Service)
               </span>
               <div class="flex-1" h-1 border-b-1/>
               <span class="w-fit">$10
               </span>
            </div>
            <div flex justify-between items-center gap-x-1 font-semibold text-primary>
               <span class="w-fit">Stiletto/ Coffin Tips For Long Nails (With Service)
               </span>
               <div class="flex-1" h-1 border-b-1/>
               <span class="w-fit">$5+
               </span>
            </div>
         </div>
         <div class="flex flex-col gap-3 my-3 md:(w-1/2)">
            <div flex justify-between items-center gap-x-1 font-semibold text-primary>
               <span class="w-fit">Nail Design
               </span>
               <div class="flex-1" h-1 border-b-1/>
               <span class="w-fit">$10+
               </span>
            </div>
            <div flex justify-between items-center gap-x-1 font-semibold text-primary>
               <span class="w-fit">Nail Repair
               </span>
               <div class="flex-1" h-1 border-b-1/>
               <span class="w-fit">$5+
               </span>
            </div>
            <div flex justify-between items-center gap-x-1 font-semibold text-primary>
               <span class="w-fit">Acrylic Removal
               </span>
               <div class="flex-1" h-1 border-b-1/>
               <span class="w-fit">$15
               </span>
            </div>
            <div flex justify-between items-center gap-x-1 font-semibold text-primary>
               <span class="w-fit">Acrylic Removal With Manicure/Gel Manicure
               </span>
               <div class="flex-1" h-1 border-b-1/>
               <span class="w-fit">$35/$45
               </span>
            </div>
            <div flex justify-between items-center gap-x-1 font-semibold text-primary>
               <span class="w-fit">Paraffin Treatment On Hands/ Feet
               </span>
               <div class="flex-1" h-1 border-b-1/>
               <span class="w-fit">$10/$10
               </span>
            </div>
         
         </div>
      </div>
   </div>
</section>
