---
import NailEnhancements from './NailEnhancements.astro';
import Manicure from './Manicure.astro';
import SpaPedicure from './SpaPedicure.astro';
import GelPedicure from './GelPedicure.astro';
import KidService from './KidService.astro';
import Waxing from './Waxing.astro';
import Additional from './Additional.astro';
---

<section class="bg-[url('/bg-service.png')] section-style">
   <h3 title-section>Services</h3>
   <!-- position 1 -->
   <NailEnhancements/>
   <!-- Manicure -->
  <Manicure/>
     <!-- Spa Pedicure -->
  <SpaPedicure/>
   <!-- Gel Pedicure -->
   <GelPedicure/>
      <!-- Kid's Service -->
  <KidService/>
   <!-- Waxing -->
  <Waxing/>
   <!-- Additional Services -->
  <Additional/>
</section>
