---
import { Image } from "astro:assets";
import TetsimonialSlider from "./react/TestimonialSlider";
---

<section>
   <div>
   <div flex items-end justify-center gap-x-10 p-10>
      <h3 class="w-1/2" text-end title-section>Testimonial</h3>
      <Image class="rounded-md shadow-xl" src="/testimonial.png" alt="testimonial" width={713} height={400}/>
   </div>
   <TetsimonialSlider client:visible/>
   </div>
</section>